{% block sw_cms_block_header_slider %}
    <div class="sw-cms-block-header-slider">
        <slot name="slider_element">{% block sw_cms_block_header_slider_element %}{% endblock %}</slot>
    </div>
{% endblock %}