{% sw_extends '@AppflixDewaShop/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_rating %}
    {{ dump('asdasd') }}
    <p>sadas</p>
    {% if config('core.listing.showReview') %}
        <div class="product-rating">
            <p>xxxx</p>
            {% if product.ratingAverage %}
                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: product.ratingAverage,
                    style: 'text-primary'
                } %}
            {% else %}
                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: 0,
                    style: 'text-primary'
                } %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
