{% sw_extends '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}

{% block layout_header_actions_currency_widget_dropdown_toggle %}
    <button class="btn header-actions-btn"
            type="button"
            id="currenciesDropdown-{{ position }}"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        {% block layout_header_actions_currency_widget_dropdown_toggle_name %}
            {{ page.header.activeCurrency.symbol }}
        {% endblock %}
    </button>
{% endblock %}
